:root {
    --preta: #141414;
    --vermelho: #e50914;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: var(--preta);
    color: white;
    font-family: 'Netflix Sans', 'Times New Roman', Times, serif;
}
header .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    color:var(--vermelho);
    font-family: 'Netflix Sans', 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 5px;
}
.navbar a {
    color: #AAA;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar a:hover {
    color: #fefefe;
    transition: 600ms ease-in-out;
}

/*filme principal */

.principal__filme {
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50) 100%), url(../img/capa-doctor-who.jpg);
    background-position: 50% 5%; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    height: 500px;
    justify-content: center;
}

main .container {
    margin-left: 10px;
    margin-top: 140px;
}
.principal__titulo {
    font-size: 40px;
}
.principal__descricao {
    font-size: 14px;
    margin-top: 15px;
    width: 500px;
}
.principal__info {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    gap: 15px;
    margin-top: 15px;
    width: 450px;
}
.principal__inforelevancia {
    color: #4a9a67;
    font-weight: bold;
}
.principal__atores {
    font-size: 12px;
    font-style: oblique;
    margin-top: 15px;
}
.principal__categoria {
    font-size: 12px;
    font-style: oblique;
}

.principal__qualidade{
    border: 1px solid white;
    border-radius: 5px;

}

.principal__botao {
    background-color: rgba(0,0,0,.50);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 15px 30px;
}

.principal__botao:hover {
    background-color: white;
    color: black;
    transition: .3s ease all;
}

.principal__botao i{
    margin-right: 8px;
}

h4 {
    margin-top: 60px;
    font-size: 20px;
    text-shadow: 2.6px 2.5px 4.4px -78px rgba(0, 0, 0, 0.50),
    21px 20px 35px -78px rgba(0, 0, 0, 0.02);
}

.filmes__box {
    margin-top: 12px;
    height: 100%;
    width: 100%;
    display: block; 
}

